<h2 class="about-me">Sobre mí</h2>
<h3 class="description-me">Ingeniero informático y desarrollador web, organizado, proactivo e interesado en el diseño de UX/UI.</h3>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.sm="center end" fxLayoutAlign.xs="center end" class="container-circle-top">
    <div class="circle-vertical"></div>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutAlign.sm="center end" 
    fxLayoutAlign.xs="center end">

    <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="studies-column-1">
        <div fxLayout="column" fxLayoutAlign="center end">
            <div fxLayoutAlign="space-between center" class="title-studies">
                <div class="circle-studies"></div>
                <span class="span-studies">Estudios</span>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center end" class="position-span-right">
            <!-- <div fxLayoutAlign="space-between center">
                <span class="span-title">2007-2016.</span>
                <span class="span-title">U.E.P Colegio La Chinita</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-description">Educación básica y media general</span>
            </div> -->

            <div class="urbe-flex-long">
                <span class="span-title">2016-2020.</span>
                <span class="span-title">Universidad Dr. Rafael Belloso Chacín</span>
            </div>

            <div class="urbe-flex-short" [style.marginTop.px]="20">
                <span class="span-title">2016-2020.</span>
                <span class="span-title">URBE</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-description">Ingeniería en Informática</span>
            </div>

            <div fxLayoutAlign="space-between center" [style.marginTop.px]="20">
                <span class="span-title">Ene 2018 - Mar 2018.</span>
                <span class="span-title">Telnet</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-description">Especialización en Programación Web</span>
            </div>

            <div fxLayoutAlign="space-between center" [style.marginTop.px]="20">
                <span class="span-title">Mar 2020.</span>
                <span class="span-title">Platzi</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-description">Curso de Fundamentos de Angular</span>
            </div>

            <div fxLayoutAlign="space-between center" [style.marginTop.px]="20">
                <span class="span-title">Mar 2020.</span>
                <span class="span-title">Platzi</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-description">Curso de Angular: Componentes y Servicios!</span>
            </div>

            <div fxLayoutAlign="space-between center" [style.marginTop.px]="20">
                <span class="span-title">Feb 2023.</span>
                <span class="span-title">Udemy</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-description">Flutter: Tu guía completa para IOS y Android</span>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center end">
            <div fxLayoutAlign="space-between center" class="title-skills">
                <div class="circle-skills"></div>
                <span class="span-skills">Habilidades</span>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center end" class="position-span-right">
            <div fxLayoutAlign="end center">
                <span class="span-title">Angular</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-title">React</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-title">Git</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-title">Flutter</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-title">Javascript</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-title">Typescript</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-title">HTML</span>
            </div>

            <div fxLayoutAlign="end center">
                <span class="span-title">CSS</span>
            </div>

            <div fxLayoutAlign="end center" class="margin-bottom-git">
                <span class="span-title">Firebase</span>
            </div>
        </div>
    </div>

    <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="studies-column-2">
        <div fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="center end" fxLayoutAlign.xs="center end">
            <div fxLayoutAlign="space-between center" class="title-experience">
                <span class="span-experience">Experiencia</span>
                <div class="circle-experience"></div>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.sm="center end" fxLayoutAlign.xs="center end" 
            class="position-span-left">

            <div fxLayoutAlign="space-between center">
                <span class="span-title">Green Park</span>
                <span class="span-title">Ene 2020 - Feb 2020.</span>
            </div>

            <div fxLayoutAlign="start center" fxLayoutAlign.sm="end center" fxLayoutAlign.xs="end center">
                <span class="span-description">Desarrollador Front-end</span>
            </div>

            <div fxLayoutAlign="space-between center" [style.marginTop.px]="20">
                <span class="span-title">Intelenz</span>
                <span class="span-title">Mar 2020 - Sep 2021.</span>
            </div>

            <div fxLayoutAlign="start center" fxLayoutAlign.sm="end center" fxLayoutAlign.xs="end center">
                <span class="span-description">Desarrollador Front-end</span>
            </div>

            <div fxLayoutAlign="space-between center" [style.marginTop.px]="20">
                <span class="span-title">a2Softway</span>
                <span class="span-title">Mar 2021 - Abr 2021.</span>
            </div>

            <div fxLayoutAlign="start center" fxLayoutAlign.sm="end center" fxLayoutAlign.xs="end center">
                <span class="span-description">Desarrollador Front-end</span>
            </div>

            <div fxLayoutAlign="space-between center" [style.marginTop.px]="20">
                <span class="span-title">Freelance</span>
                <span class="span-title">Oct 2021 - Abr 2022.</span>
            </div>

            <div fxLayoutAlign="start center" fxLayoutAlign.sm="end center" fxLayoutAlign.xs="end center">
                <span class="span-description">Desarrollador Front-end</span>
            </div>

            <div fxLayoutAlign="space-between center" [style.marginTop.px]="20">
                <span class="span-title">QUIK</span>
                <span class="span-title">May 2022 - Actualidad</span>
            </div>

            <div fxLayoutAlign="start center" fxLayoutAlign.sm="end center" fxLayoutAlign.xs="end center">
                <span class="span-description">Desarrollador Full Stack</span>
            </div>
        </div>

        <div fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="center end" fxLayoutAlign.xs="center end">
            <div fxLayoutAlign="space-between center" class="title-languages">
                <span class="span-languages">Idiomas</span>
                <div class="circle-languages"></div>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.sm="center end" fxLayoutAlign.xs="center end" 
            class="position-span-left">
            <div fxLayoutAlign="space-between center" class="container-languages">
                <span class="span-title">Español</span>
                <span class="span-title">Nativo</span>
            </div>

            <div fxLayoutAlign="space-between center" class="container-languages margin-sm">
                <span class="span-title">Ingles</span>
                <span class="span-title">Escrito</span>
            </div>
        </div>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.sm="center end" fxLayoutAlign.xs="center end" 
    class="container-circle-bottom">
    <div class="circle-vertical"></div>
</div>
