<h2 class="works">Trabajos</h2>
<div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="0 1 calc(100% - 80px)" style="overflow: hidden;">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="40px grid" fxLayoutGap.sm="20px grid" fxLayoutGap.xs="0">
            <div *ngFor="let project of projects" fxFlex="25" fxFlex.md="33" fxFlex.sm="45" fxFlex.xs="100" fxLayout="column" class="card">
                <div fxLayout="column" class="img-container">
                    <img src="assets/images/rga-1.PNG" [alt]="project.name" class="img-card">
                    <div class="languages">
                        <span class="span-languages">Lenguajes Utilizados:</span>
                        <div fxLayoutAlign="center center">
                            <img *ngFor="let language of project.languages" [src]="language" [alt]="language" class="language">
                        </div>
                    </div>
                </div>
                <div class="container">
                  <h4 class="title-card"><b>{{project.name}}</b></h4>
                  <p class="description-card">{{project.description}}</p>
                  <div fxLayoutAlign="space-between center">
                    <a [href]="project.repo" target="_blank" class="button-card button-code"><b>Código</b></a>
                    <a [href]="project.url" target="_blank" class="button-card button-project"><b>Ver proyecto</b></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
