<div class="background-port">

  <div class="fig-content-1 animate__animated animate__fadeInLeft">
    <img src="../assets/images/figura1.png" alt="figure-1">
  </div>

  <social-media></social-media>

  <div fxLayout="column" fxLayoutAlign="center center" class="section-name relative-figures">
    <h2 class="name">Guido Martinez</h2>
    <span class="profesion">Programador</span>
    
    <div class="fig-content-2 animate__animated animate__fadeInRight">
      <img src="../assets/images/figura2.png" alt="figure-2">
    </div>
  </div>

  <div class="padding-section">
    <job-cards></job-cards>
  </div>

  <div class="padding-section background-me relative-figures">
    <div class="fig-content-3 hide-on-init" animateOnScroll animationName="animated animate__animated animate__fadeInRight">
      <img src="../assets/images/figura4.png" alt="figure-2">
    </div>

    <about-me></about-me>

    <div class="fig-content-4 hide-on-init" animateOnScroll animationName="animated animate__animated animate__fadeInLeft">
      <img src="../assets/images/figura5.png" alt="figure-2">
    </div>

    <div class="fig-content-5 hide-on-init" animateOnScroll animationName="animated animate__animated animate__fadeInRight">
      <img src="../assets/images/figura3.png" alt="figure-2">
    </div>
  </div>

  <div class="padding-section">
    <contact-me></contact-me>
  </div>
</div>